<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/navbar.css">
</head>
<body>
    <nav>
        <section id="brandLogo">
            <img src="https://internshala.com/static/images/common/new_internshala_logo.svg" alt="brandLogo">
        </section>
        <section id="services">
            <ul>
                <li>
                    <select name="" id="">
                        <option value="">Internship</option>
                    </select>
                </li>
            </ul>
            <ul>
                <li>Online Training</li>
            </ul>
            <ul>
                <li>Fresher Jobs</li>
            </ul>
            <ul>
                <li><button>Login</button></li>
            </ul>
            <ul>
                <li>Register</li>
            </ul>
        </section>
    </nav>
</body>
</html>