<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/navbar.css">
</head>
<body>
    <div id="navBar">

    </div>
    <nav>
        
    </nav>
</body>
</html>
<script type="module">
    import {navbar, huberberg} from "./navbar.js";
    document.getElementsByTagName('nav')[0].innerHTML =  navbar();
    document.getElementById('navBar').addEventListener('click', hidehuberberg);
    document.getElementById('huberbergMenu').addEventListener('click', showHuberberg);
    function showHuberberg(){
        console.log('Show');
        document.getElementById('navBar').innerHTML =  huberberg()
    }
    function hidehuberberg(){
        document.getElementById('navBar').innerHTML = null;
    }
</script>