* {
    margin: 0px -3px;
    padding: 0;
}
#footer {
    background-color: #333333;
    box-sizing: border-box;
    padding: 1.1vh 0;
    color: white;
}
#footer_pageLinks {
    display: flex;
    text-align: left;
    margin-top: 4.5vh;
    margin-bottom: 16px;
    box-sizing: border-box;
}
#footer_pageLinks > div > div {
    line-height: 2.8vh;
    font-size: 2.2vh;
    font-weight: 400;
    padding-bottom: 1.1vh;
}
h5 {
    line-height: 3.5vh;
    font-size: 2.5vh;
    font-weight: 600;
    margin-bottom: 2vh;
}
#footer_pageLinks > div {
    flex-basis: 22%;
    margin: 0 6%;
}
#footer_pageLinks span {
    background-color: #ff8c00;
    padding: 0.15vh;
    border-radius: 10%;
    font-size: 2.5vh;
    font-weight: 400;
}
#social {
    border-top: 1px solid #666;
    padding-bottom: 4.5vh;
    padding-top: 3.2vh;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
#social i {
    margin: 0 1%;
    font-size: 4vh;
}
#social > div {
    width: 12%;
    border: 1px white solid;
    padding: 0.5vh;
    border-radius: 5%;
    margin-right: 2%;
}
#social > div > i, #social > div > span {
    vertical-align: middle;
}
#social #crIcon {
    font-size: 2vh;
    margin-left: 52%;
}
@media(max-width: 600px) {
    #footer_pageLinks > div:nth-child(1), #footer_pageLinks > div:nth-child(2) {
        display: none;
    }
    #footer_pageLinks {
        flex-direction: column;
    }
    #footer_pageLinks > div:nth-child(3) {
        border-bottom: 1px solid #666;
        margin-bottom: 3vh;
        padding-bottom: 1vh;
    }
    #social #crIcon {
        margin-left: 10%;
    }
}