* {
    font-family: "Inter var", sans-serif;
}
#scrollSlider{
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin: 45px 0 30px 0;
    display: grid;
    grid-template-columns: 90% 90% 90% 90%;
    gap: 2%;
}
.getWidth{
    width: 100%;
    height: 340px;
    border-radius: 5px;
}
.sliderImg1{
    background-image: url(https://internshala.com/cached_uploads/banner-images/home/home_internships-1920.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.sliderImg2{
    background-image: url(https://internshala.com/cached_uploads/banner-images/home/practice_makes_progress-1920-fa74a4.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.sliderImg3{
    background-image: url(https://internshala.com/cached_uploads/banner-images/home/home_jobs-1920.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.sliderImg4{
    background-image: url(https://internshala.com/cached_uploads/banner-images/home/bc_1-1920-c7e7e2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.sliderContentBox{
    margin-top: 20px;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}
.sliderContentBox > div{
    margin-bottom: 18px;
}
.sliderCheckMark{
    display: flex;
    align-items: center;
    gap: 2%;
    font-size: 18px;
    font-weight: 500;
    color: #484848;
}
.sliderContentBox >div:nth-child(5){
    display: none;
}
#scrollSlider::-webkit-scrollbar{
    display: none;
  }

#bigB {
    width: 100%;
    padding: 20px;
}
.headDiv {
    display: flex;
    justify-content: space-between;
}
.headDiv > div:first-child{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.anchor{
    margin-top: 42px;
}
a{
    text-decoration: none;
    padding-top: 30%;
    font-weight: 600;
    font-size: 16px;
    color: #008bdc;
}
.title {
    line-height: 5vh;
    color: #333333;
    font-weight: 600;
    font-size: 24px;
}
.gridB, .gridC {
    display: flex;
    overflow-x: auto;
    gap: 1%;
}
.gridB::-webkit-scrollbar, .gridC::-webkit-scrollbar {
    display: none;
  }
.gridB > div, .gridC >div {
    cursor: pointer;
    margin: 0 2px;
    width: 140px;
    height: 156px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.gridB > div:hover, .gridC > div:hover {
    box-shadow: 2px 2px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    color: #008bdc;
}
.gridB p, .gridC p {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}
#internships > div{
    margin-bottom: 3%;
}
.description {
    color: #484848;
    font-weight: 400;
    font-size: 18px;
}
.header {
    color: #2c2a2a;
    margin-bottom: 2%;
    font-weight: 600;
    font-size: 18px;
}
.offers_75{
    display: flex;
    gap: 20px;
}
.offers_75 img{
    width: 70px;
    height: 35px;
}
#internT > div{
    margin-bottom: 3%;
}
#internT  p{
    line-height: 1.5em;
}
#freshJ > div{
    margin-bottom: 3%;
}
#new {
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding: 10px 15px;
    vertical-align: middle;
}
#bgSpan {
    background-color: #f28c3c;
    border-radius: 3px;
}
#gridD {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
#gridD div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    color: #333333;
}
/* Search */
#searchbar {
    width: 40%;
    display: flex;
    margin: 25px auto;
}
#searchbar input {
    width: 90%;
    height: 46px;
    outline: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #ccc;
    padding-left: 3%;
}
#searchGlass {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    background-color: #008bdc;
    color: white;
    height: 46px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#searchGlass i {
    font-size: 24px;
}
@media (max-width: 1250px) {
    .headDiv{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .headDiv >div:nth-child(2){
        display: none;
    }
    .header{
        text-align: center;
    }
    .gridC{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        justify-content: center;
        align-items: center;
        gap: 0;
        overflow: unset;
    }
    #searchbar {
        width: 50%;
    }
}
@media (max-width: 940px) {
    #searchbar {
        width: 75%;
    }
    #gridD{
        flex-direction: column;
    }
}
@media (max-width: 760px) {
    #searchbar {
        width: 90%;
    }
    #scrollSlider{
        grid-template-columns: 97% 97% 97% 97%;
        gap: 1%;
    }
    .getWidth{
        height: 200px;
    }
    .sliderContentBox >div:nth-child(3){
        display: none;
    }
    .sliderContentBox >div:nth-child(4){
        display: none;
    }
    .sliderContentBox >div:nth-child(5){
        display: flex;
    }
    .sliderContentBox h1{
        font-size: 18px;
    }
    .sliderContentBox h3{
        font-size: 14px;
    }
    .sliderContentBox p{
        font-weight: 500;
        font-size: 14px;
    }
    .sliderImg1{
        background-image: url(https://internshala.com/cached_uploads/banner-images/home/home_internships-575.png);
    }
    .sliderImg2{
        background-image: url(https://internshala.com/cached_uploads/banner-images/home/practice_makes_progress-320-53c159.png);
    }
    .sliderImg3{
        background-image: url(https://internshala.com/cached_uploads/banner-images/home/home_jobs-575.png);
    }
    .sliderImg4{
        background-image: url(https://internshala.com/cached_uploads/banner-images/home/bc_1-320-9781a0.png);
    }
}