*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    border: 1px solid red;
    width: 100%;
    height: 75px;
    display: flex;
    font-family: "Inter var", sans-serif;
    font-weight: 500;
    font-size: 14px;
}
#brandLogo{
    width: 25%;
    height: 55px;
    line-height: 65px;
    display: flex;
    align-items: center;
}
#brandLogo img:nth-child(1){
    margin-left: 3%;
    margin-top: 17px;
    display: none;
}
#brandLogo img:nth-child(2){
    margin-left: 3%;
    width: 120px;
}
#services{
    width: 73%;
    height: 100%;
    line-height: 75px;
    display: flex;
    justify-content: flex-end;
    gap: 5%;
}
#services ul{
    list-style: none;
    cursor: pointer;
}
#services ul{
    line-height: 70px;
}
#services ul li:hover{
    color: #00a5ec;
}
#services ul ul{
    display: none;
    line-height: 35px;
    margin-top: 4px;
    position: relative;
    width: 240%;
    background-color: white;
    height: 300px;
    color: black;
}
#services ul li:hover > ul{
    display: block;
}
.spanTag:hover{
    background-color: #e7f5fc;
    border-radius: 8px;
    width: 90%;
}
#services ul ul ul{
    margin-left: 100%;
    line-height: 35px;
    width: 150%;
    top: -5px;
    position: absolute;
    background-color: white;
    border-left: 1px solid rgb(230, 230, 230);
    overflow-y: scroll;
}
.hotText{
    padding: 3px 6px;
    font-size: 12px;
    margin: 0 5px;
    color: white;
    background-color: #ff8c00;
    border-radius: 3px;
}
#logIn_button{
    outline: none;
    border: 1px solid #00a5ec;
    padding: 7px 20px;
    background-color: white;
    border-radius: 3px;
    color: #00a5ec;
    font-size: 13px;
    font-weight: 600;
    font-family: Arial;
    cursor: pointer;
}
#register_button{
    background-color: #00a5ec;
    padding: 8px 30px;
    color: white;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
    font-family: Arial;
}
@media (max-width:940px) {
    #brandLogo img:nth-child(1){
        display: block;
    }
    #services ul:first-child, ul:nth-child(2), ul:nth-child(3), ul:nth-child(4){
        display: none;
    }
}