*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    border: 1px solid red;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
}
#brandLogo{
    width: 45%;
}
#services{
    /* border: 1px solid blue; */
    width: 55%;
    height: 100%;
    line-height: 75px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
#services ul{
    list-style: none;
}
#services ul li ul{
    border: 1px solid red;
    line-height: 40px;
}